.env
config/dev.env
config/test.env
dataToPopulate.js
ServiceToPopulate.js
RoutesToPopulate.js
ControllersToPopulate.js
categories.json
games.json
genres.json
platforms.json
questions.json
replies.json
reviews.json
threads.json
users.json